PORT=3000

#DATABASE_URL=postgres://postgres:root@localhost:5432/administracion?sslmode=disable

DB_USER=postgres
DB_PASS=Postgresql123
DB_HOST=10.0.10.224
DB_PORT=5432
DB_NAME=seguridad
#AUTH
HASH_SALT=10
JWT_SECRET=sistmodeloseguridad@gmail.com
EXPIRES=1h